{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
	<div{{attributes.addClass(classes)}}>
		{{ content }}

		{% if facebook or twitter or instagram or linkedin %}
			<div class="social-links">
				<h2>follow us</h2>
				{% if facebook %}
					<a href="#">
						<i class="fa-brands fa-{{facebook}}-f"></i>
					</a>
				{% endif %}
				{% if twitter %}
					<a href="#">
						<i class="fa-brands fa-x-{{twitter}}"></i>
					</a>
				{% endif %}
				{% if instagram %}
					<a href="#">
						<i class="fa-brands fa-{{instagram}}"></i>
					</a>
				{% endif %}
				{% if linkedin %}
					<a href="#">
						<i class="fa-brands fa-{{linkedin}}-in"></i>
					</a>
				{% endif %}

				{% if footer_search %}
					<div class="input__search">
						<div class="search">
							<input type="text" class="searchTerm" placeholder="What are you looking for?">
						</div>
						<a href="#" class="searchButton">
							submit
						</a>
					</div>
				{% endif %}
			</div>
		{% endif %}

	</div>
{% endif %}
