.container {
  max-width: 1170px;
  margin: auto;
}

.row .region-footer {
  display: flex;
  flex-wrap: wrap;
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.region-footer .block-menu {
  width: 25%;
  padding: 0 15px;
}

.region-footer h2 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.region-footer h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.region-footer .block-menu ul li:not(:last-child) {
  margin-bottom: 10px;
}

.region-footer .block-menu ul li a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  font-weight: 300;
  transition: all 0.3s ease;
}

.region-footer .block-menu ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.region-footer .social-links {
  padding-left: 1rem;
}

.main_content {
  margin-top: 50px;
}

.region-footer .social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.region-footer .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Responsive */

@media (max-width: 767.98px) {
  .region-footer .block-menu {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 575.98px) {
  .region-footer .block-menu {
    width: 100%;
  }
}


/* FOR SEARCH FIELD */

.input__search {
  margin-top: 16px;
  position: relative;
}

.searchTerm {
  width: 250px;
  padding: 8px 8px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

.searchButton {
  max-width: 250px;
  width: 100% !important;
  padding: 8px 8px;
  color: #24262b !important;
  background-color: #ffffff !important;
  border-radius: 25px !important;
  text-decoration: none;
  text-transform: uppercase;
  display: grid !important;
  place-content: center;
  margin-top: 6px !important;
}