* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

/* ------------------------------ Header Section Theming Start ------------------------------------------ */

.gallery__header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #2b2626;
  padding: 12px 0;
  transition: all 5s ease;
}

.gallery__header .region-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery__header .block-system-branding-block .site-name {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}

.gallery__header .block-system-branding-block .site-name a {
  text-decoration: none;
  display: block;
  color: #fff !important;
}

.gallery__header .menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 1.5rem;
  align-items: center;
}

.gallery__header .menu li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__header .menu li a {
  text-decoration: none;
  color: #fff;
}

.header__active {
  background-image: linear-gradient(to bottom right, red, yellow);
}

.header__active .block-system-branding-block .site-name a {
  text-decoration: none;
  display: block;
  color: #2b2626 !important;
}

.header__active .menu li a {
  text-decoration: none;
  color: #2b2626;
}

/* ------------------------------ Header Section Theming End ------------------------------------------ */


/* -------------------------------------- Hero Section Banner -------------------------------------------- */

.hero__section {
  background-size: cover;
  padding: 80px 0;
  margin-bottom: 80px;
}

.hero__section .hero-heading {
  display: grid;
  place-content: center;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}

.hero__section .hero-heading h4 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: #fff;
}

.hero__section .hero-heading p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 30px;
}

.cta_wrapper a {
  margin: auto;
}

.page-content {
  margin-bottom: unset !important;
}

.hero__section {
  margin-top: 120px;
}

/* -------------------------------------- Hero Section Banner End -------------------------------------------- */