{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{attributes.addClass(classes)}}>
	{{ title_prefix }}
	{% block content %}
		<div class="header_social_media_links">
			<ul>
				<li><a href="https://www.twitter.com/{{ content.field_social_media_fields['#platforms']['twitter']['url'] }}" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/{{ content.field_social_media_fields['#platforms']['facebook']['url'] }}" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
				<li><a href="https://www.instagram.com/{{ content.field_social_media_fields['#platforms']['instagram']['url'] }}" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
				<li><a href="https://www.linkedin.com/{{ content.field_social_media_fields['#platforms']['linkedin']['url'] }}" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
			</ul>
		</div>
	{% endblock %}
	{{ title_suffix }}
</div>
